colorlog
scikit-learn
multiprocess
datasets >= 3.0.0
tqdm
sentencepiece
huggingface_hub>=0.19.2
protobuf>=3.20.2
visualdl
safetensors
decord
paddlecodec; sys_platform == 'linux'
fast_dataindex>=0.1.1 ; platform_system == "Linux"
aistudio-sdk>=0.3.0
jinja2
regex
numpy
tiktoken
ml_dtypes
omegaconf
modelscope
transformers>=4.55.1
GPUtil
importlib_metadata
